*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0
}
header{
    background-image: linear-gradient(-90deg, red, yellow);
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 25px;
    color: white;
}
#btnOne{
    background-color:sandybrown;
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
    background: red;
    transition: 1s;
}

#tableHead{
    background-color:rgb(25, 120, 197);
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #ced4da;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}
